extends layouts/main

block content

    .pic
        canvas.pic_canvas
    .form
        .form_h1
            h1 Mlbum
        form(action=routes.home,method="post")
            input(type="text", name="id", placeholder="ID", required=true)
            input(type="password", name="password", placeholder="Password", required=true)
            .form_btn
                input(class="button" type="button",value="join", onclick="location.href='/join'")
                input(class="button" type="submit",value="Login")
    
    script(type="module", src="/public/js/index.js")
    