@import "modal.css";

.group_pic{
    overflow-y: auto;
    display: flex;
    flex-flow: wrap;
    /* justify-content: center; */
    align-content: flex-start;
    height:100%;
    width: 95%;
}

.group_pic::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
.group_pic::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,0.3);
    height: 10px;
    border-radius: 10px;
}
.group_pic::-webkit-scrollbar-track {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: inset 0px 0px 5px #ffffff;
}

.group_img{
    border :1px solid rgba(0,0,0,0.3);
    border-radius: 5px;
    width: 180px;
    height: 180px;
    margin: 20px;
}


.add_btn{
    position: absolute;
    bottom:50px;
    right:50px;
    border: none;
}

.add_btn button{
    border:none;
    background-color: transparent;
    width: 50px;
    height: 50px;
    font-size: 40px;
    cursor: pointer;
    outline: 0;
}
.add_btn button:hover {color: #cceeee}

.add_btn button:active {
    transform: translateY(4px);
  }

.add_btn button i{
    background-color: #ffffff;
}

.group_pic .group_img img{
    width:180px;
    height:180px;
}